/* ENCABEZADO */
.subcontenedorHeader {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 30vh; }
  .subcontenedorHeader .imgEncabezado {
    height: 100%;
    background-image: url(../images/logo.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    animation-name: animacionLogo;
    animation-duration: 5s;
    animation-iteration-count: infinite; }
  .subcontenedorHeader .tituloEncabezado {
    height: 100%; }

header div h1 {
  background-image: linear-gradient(red, black);
  padding: 25px 0 25px 0;
  height: 100%; }

/* SLIDER */
.slider {
  width: 100%;
  height: auto;
  border-top: solid 3px red; }

@media (min-width: 768px) and (max-width: 1024px) {
  .subcontenedorHeader {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 20vh; }
    .subcontenedorHeader .imgEncabezado {
      height: 100%;
      background-image: url(../images/logo.png);
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      flex-grow: 2;
      animation-name: animacionLogo;
      animation-duration: 5s;
      animation-iteration-count: infinite; }
  .tituloEncabezado {
    flex-grow: 2; }
  header div h1 {
    background-image: linear-gradient(red, black);
    height: 100%;
    width: 100%;
    padding-top: 50px; } }

@media (min-width: 1025px) {
  .subcontenedorHeader {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 20vh; }
    .subcontenedorHeader .imgEncabezado {
      height: 100%;
      background-image: url(../images/logo.png);
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      flex-grow: 1;
      animation-name: animacionLogo;
      animation-duration: 5s;
      animation-iteration-count: infinite; }
  .tituloEncabezado {
    flex-grow: 3; }
  header div h1 {
    background-image: linear-gradient(red, black);
    height: 100%;
    width: 100%;
    padding-top: 50px; } }

/* MENU PRINCIPAL */
* {
  text-decoration: none; }

ul {
  margin-bottom: 0;
  padding-left: 0; }
  ul a {
    text-decoration: none; }
  ul li {
    font-family: "Titillium Web", sans-serif;
    background-color: black;
    color: white;
    text-decoration: none;
    transition: padding 0.5s;
    padding: 10px 0 10px 0;
    text-align: center; }
    ul li:hover {
      background-color: white;
      color: black;
      padding: 5px 0 5px 0; }

@media (min-width: 720px) {
  ul {
    font-size: 0;
    padding: 0; }
    ul li {
      position: relative;
      display: inline-block;
      background-color: black;
      width: 20%;
      padding: 10px 0 10px 0;
      text-align: center;
      color: white;
      font-size: 1rem;
      font-family: "Titillium Web", sans-serif;
      transition: padding 0.5s; }
      ul li:hover {
        background-color: white;
        color: black;
        padding: 5px 0 5px 0; }
      ul li:hover ul {
        display: block; } }

@keyframes animacionLogo {
  50% {
    transform: rotateY(180deg); }
  80% {
    transform: rotateX(0deg); }
  100% {
    transform: rotateX(360deg); } }

h1,
h2,
h3,
h4 {
  font-family: "Kanit", sans-serif;
  letter-spacing: normal;
  color: white;
  text-align: center;
  line-height: normal;
  margin-bottom: 0;
  font-size: revert; }

@media (min-width: 720px) {
  h1,
  h2,
  h3,
  h4 {
    font-family: "Kanit", sans-serif;
    letter-spacing: 0.5rem;
    color: white;
    text-align: center;
    line-height: normal;
    margin-bottom: 0;
    font-size: revert; } }

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: auto; }
  .footer div h3 {
    display: none; }

.footer--backgroundDegragadado {
  background-image: linear-gradient(red, black); }

.footer--paddingTopButton {
  padding: 15px 0 15px 0; }

@media (min-width: 720px) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: auto; }
    .footer div h3 {
      display: inline; }
  .footer--backgroundDegragadado {
    background-image: linear-gradient(red, black); }
  .footer--paddingTopButton {
    padding: 15px 0 15px 0; } }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/* FORMULARIO Y UBICACION */
.contenedorPpal {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 1fr 2fr 2fr;
  grid-template-areas: "imagen" " texto" "formulario" "mapa";
  border-top: solid red 2px;
  align-items: center;
  justify-content: center; }

.contenedorPpal_imagen {
  grid-area: imagen;
  width: 100%; }

.contenedorPpal_texto {
  grid-area: texto; }
  .contenedorPpal_texto h2 {
    color: black;
    letter-spacing: normal;
    text-align: start; }

.contenido_formulario {
  grid-area: formulario;
  padding: 10px; }
  .contenido_formulario h3 {
    background-image: linear-gradient(red, black);
    font-size: small;
    letter-spacing: normal; }
  .contenido_formulario label {
    font-family: "Titillium Web", sans-serif; }

.contenido_mapa {
  grid-area: mapa; }

/* FORMULARIO */
fieldset {
  padding: 1rem;
  margin-left: 1rem; }

form * {
  display: block;
  margin-top: 5px; }

textarea {
  width: 100%; }

.contenido__formulario__input--wh {
  height: 3em; }

.contenido__formulario__input--boder {
  border-radius: 2px;
  border: solid red 1px;
  padding: 1px 2px 1px 5px; }

.contenido__formulario__boton {
  border: solid red 1px;
  border-radius: 1em;
  display: inline;
  color: white; }

.contenido__formulario__boton--bg {
  background-color: #302d2d; }

.contenido__formulario__boton--pm {
  padding: 5px 10px 5px 10px;
  margin: 3px; }

@media (min-width: 720px) {
  .contenedorPpal {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 80%;
    margin: auto;
    grid-template-areas: "imagen imagen texto texto texto" "formulario formulario mapa mapa mapa" "formulario formulario mapa mapa mapa" "formulario formulario mapa mapa mapa";
    border-top: solid red 2px;
    align-items: center;
    justify-content: center; } }
