/* ENCABEZADO */
.subcontenedorHeader {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 30vh; }
  .subcontenedorHeader .imgEncabezado {
    height: 100%;
    background-image: url(../images/logo.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    animation-name: animacionLogo;
    animation-duration: 5s;
    animation-iteration-count: infinite; }
  .subcontenedorHeader .tituloEncabezado {
    height: 100%; }

header div h1 {
  background-image: linear-gradient(red, black);
  padding: 25px 0 25px 0;
  height: 100%; }

/* SLIDER */
.slider {
  width: 100%;
  height: auto;
  border-top: solid 3px red; }

@media (min-width: 768px) and (max-width: 1024px) {
  .subcontenedorHeader {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 20vh; }
    .subcontenedorHeader .imgEncabezado {
      height: 100%;
      background-image: url(../images/logo.png);
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      flex-grow: 2;
      animation-name: animacionLogo;
      animation-duration: 5s;
      animation-iteration-count: infinite; }
  .tituloEncabezado {
    flex-grow: 2; }
  header div h1 {
    background-image: linear-gradient(red, black);
    height: 100%;
    width: 100%;
    padding-top: 50px; } }

@media (min-width: 1025px) {
  .subcontenedorHeader {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 20vh; }
    .subcontenedorHeader .imgEncabezado {
      height: 100%;
      background-image: url(../images/logo.png);
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      flex-grow: 1;
      animation-name: animacionLogo;
      animation-duration: 5s;
      animation-iteration-count: infinite; }
  .tituloEncabezado {
    flex-grow: 3; }
  header div h1 {
    background-image: linear-gradient(red, black);
    height: 100%;
    width: 100%;
    padding-top: 50px; } }

/* MENU PRINCIPAL */
* {
  text-decoration: none; }

ul {
  margin-bottom: 0;
  padding-left: 0; }
  ul a {
    text-decoration: none; }
  ul li {
    font-family: "Titillium Web", sans-serif;
    background-color: black;
    color: white;
    text-decoration: none;
    transition: padding 0.5s;
    padding: 10px 0 10px 0;
    text-align: center; }
    ul li:hover {
      background-color: white;
      color: black;
      padding: 5px 0 5px 0; }

@media (min-width: 720px) {
  ul {
    font-size: 0;
    padding: 0; }
    ul li {
      position: relative;
      display: inline-block;
      background-color: black;
      width: 20%;
      padding: 10px 0 10px 0;
      text-align: center;
      color: white;
      font-size: 1rem;
      font-family: "Titillium Web", sans-serif;
      transition: padding 0.5s; }
      ul li:hover {
        background-color: white;
        color: black;
        padding: 5px 0 5px 0; }
      ul li:hover ul {
        display: block; } }

@keyframes animacionLogo {
  50% {
    transform: rotateY(180deg); }
  80% {
    transform: rotateX(0deg); }
  100% {
    transform: rotateX(360deg); } }

/* SECCION DE SERVICIOS */
.servicios {
  display: flex;
  flex-direction: column; }

section h2 {
  background-image: linear-gradient(red, black);
  padding: 15px 0 15px 0; }

.menuServicios {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr; }

.itemServicio:hover {
  cursor: pointer;
  border: dotted red; }

.itemServicio img {
  display: none; }

.servicioSeleccionado {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../images/logoFondo.png); }
  .servicioSeleccionado img {
    display: none; }

.tituloServicio, .itemServicio h3 {
  padding: 0.5rem 0 0.5rem 1rem;
  border: dotted;
  border-color: yellow;
  background: black;
  color: white; }

.boletin {
  display: flex;
  flex-direction: column; }
  .boletin .boletin__formulario {
    height: 100%;
    padding: 5px 10px 5px 10px; }
  .boletin .boletin__imagenes {
    height: 100%;
    font-size: 0; }
    .boletin .boletin__imagenes img {
      width: 45%;
      display: inline-block; }

@media (min-width: 1025px) {
  .servicios {
    height: 60vh;
    display: flex;
    flex-direction: row; }
    .servicios div {
      width: 100%; }
  section h2 {
    background-image: linear-gradient(red, black);
    padding: 15px 0 15px 0; }
  .menuServicios {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: flex-start; }
  .itemServicio:hover {
    cursor: pointer;
    border: dotted red; }
  .itemServicio h3 {
    padding: 0.5rem 0 0.5rem 1rem;
    border: dotted;
    border-color: yellow;
    background: black;
    color: white; }
  .itemServicio img {
    display: inline-block;
    width: 100%;
    height: 121px; }
  .servicioSeleccionado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../images/logoFondo.png); }
    .servicioSeleccionado p {
      font-size: larger;
      font-weight: bold; }
    .servicioSeleccionado img {
      display: block; }
  .tituloServicio, .itemServicio h3 {
    padding: 0.5rem 0 0.5rem 1rem;
    border: dotted;
    border-color: yellow;
    background: black;
    color: white; }
  /* ESTILOS BOLETIN */
  .boletin {
    display: flex;
    flex-direction: row;
    width: 100vw; }
    .boletin .boletin__formulario {
      padding: 5px 10px 5px 10px;
      flex-grow: 2; }
    .boletin .boletin__imagenes {
      flex-grow: 3; } }

@media (min-width: 768px) and (max-width: 1024px) {
  .servicios {
    display: flex;
    flex-direction: row; }
    .servicios div {
      width: 100%; }
  section h2 {
    background-image: linear-gradient(red, black);
    padding: 15px 0 15px 0; }
  .menuServicios {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: flex-start; }
  .itemServicio:hover {
    cursor: pointer;
    border: dotted red; }
  .itemServicio h3 {
    padding: 0.5rem 0 0.5rem 1rem;
    border: dotted;
    border-color: yellow;
    background: black;
    color: white; }
  .itemServicio img {
    display: inline-block;
    width: 100%;
    height: 121px; }
  .servicioSeleccionado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../images/logoFondo.png); }
    .servicioSeleccionado p {
      font-size: larger;
      font-weight: bold; }
    .servicioSeleccionado img {
      display: block; }
  .tituloServicio, .itemServicio h3 {
    padding: 0.5rem 0 0.5rem 1rem;
    border: dotted;
    border-color: yellow;
    background: black;
    color: white; }
  /* ESTILOS BOLETIN */
  .boletin {
    display: flex;
    flex-direction: row;
    width: 100vw; }
    .boletin .boletin__formulario {
      padding: 5px 10px 5px 10px;
      flex-grow: 2; }
    .boletin .boletin__imagenes {
      flex-grow: 3; } }

h1,
h2,
h3,
h4 {
  font-family: "Kanit", sans-serif;
  letter-spacing: normal;
  color: white;
  text-align: center;
  line-height: normal;
  margin-bottom: 0;
  font-size: revert; }

@media (min-width: 720px) {
  h1,
  h2,
  h3,
  h4 {
    font-family: "Kanit", sans-serif;
    letter-spacing: 0.5rem;
    color: white;
    text-align: center;
    line-height: normal;
    margin-bottom: 0;
    font-size: revert; } }

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: auto; }
  .footer div h3 {
    display: none; }

.footer--backgroundDegragadado {
  background-image: linear-gradient(red, black); }

.footer--paddingTopButton {
  padding: 15px 0 15px 0; }

@media (min-width: 720px) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: auto; }
    .footer div h3 {
      display: inline; }
  .footer--backgroundDegragadado {
    background-image: linear-gradient(red, black); }
  .footer--paddingTopButton {
    padding: 15px 0 15px 0; } }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }
