/* ENCABEZADO */
.subcontenedorHeader {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 30vh; }
  .subcontenedorHeader .imgEncabezado {
    height: 100%;
    background-image: url(../images/logo.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    animation-name: animacionLogo;
    animation-duration: 5s;
    animation-iteration-count: infinite; }
  .subcontenedorHeader .tituloEncabezado {
    height: 100%; }

header div h1 {
  background-image: linear-gradient(red, black);
  padding: 25px 0 25px 0;
  height: 100%; }

/* SLIDER */
.slider {
  width: 100%;
  height: auto;
  border-top: solid 3px red; }

@media (min-width: 768px) and (max-width: 1024px) {
  .subcontenedorHeader {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 20vh; }
    .subcontenedorHeader .imgEncabezado {
      height: 100%;
      background-image: url(../images/logo.png);
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      flex-grow: 2;
      animation-name: animacionLogo;
      animation-duration: 5s;
      animation-iteration-count: infinite; }
  .tituloEncabezado {
    flex-grow: 2; }
  header div h1 {
    background-image: linear-gradient(red, black);
    height: 100%;
    width: 100%;
    padding-top: 50px; } }

@media (min-width: 1025px) {
  .subcontenedorHeader {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 20vh; }
    .subcontenedorHeader .imgEncabezado {
      height: 100%;
      background-image: url(../images/logo.png);
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      flex-grow: 1;
      animation-name: animacionLogo;
      animation-duration: 5s;
      animation-iteration-count: infinite; }
  .tituloEncabezado {
    flex-grow: 3; }
  header div h1 {
    background-image: linear-gradient(red, black);
    height: 100%;
    width: 100%;
    padding-top: 50px; } }

/* MENU PRINCIPAL */
* {
  text-decoration: none; }

ul {
  margin-bottom: 0;
  padding-left: 0; }
  ul a {
    text-decoration: none; }
  ul li {
    font-family: "Titillium Web", sans-serif;
    background-color: black;
    color: white;
    text-decoration: none;
    transition: padding 0.5s;
    padding: 10px 0 10px 0;
    text-align: center; }
    ul li:hover {
      background-color: white;
      color: black;
      padding: 5px 0 5px 0; }

@media (min-width: 720px) {
  ul {
    font-size: 0;
    padding: 0; }
    ul li {
      position: relative;
      display: inline-block;
      background-color: black;
      width: 20%;
      padding: 10px 0 10px 0;
      text-align: center;
      color: white;
      font-size: 1rem;
      font-family: "Titillium Web", sans-serif;
      transition: padding 0.5s; }
      ul li:hover {
        background-color: white;
        color: black;
        padding: 5px 0 5px 0; }
      ul li:hover ul {
        display: block; } }

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: auto; }
  .footer div h3 {
    display: none; }

.footer--backgroundDegragadado {
  background-image: linear-gradient(red, black); }

.footer--paddingTopButton {
  padding: 15px 0 15px 0; }

@media (min-width: 720px) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: auto; }
    .footer div h3 {
      display: inline; }
  .footer--backgroundDegragadado {
    background-image: linear-gradient(red, black); }
  .footer--paddingTopButton {
    padding: 15px 0 15px 0; } }

h1,
h2,
h3,
h4 {
  font-family: "Kanit", sans-serif;
  letter-spacing: normal;
  color: white;
  text-align: center;
  line-height: normal;
  margin-bottom: 0;
  font-size: revert; }

@media (min-width: 720px) {
  h1,
  h2,
  h3,
  h4 {
    font-family: "Kanit", sans-serif;
    letter-spacing: 0.5rem;
    color: white;
    text-align: center;
    line-height: normal;
    margin-bottom: 0;
    font-size: revert; } }

.contenedorItems {
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(3, 1fr);
  gap: 5px; }
  .contenedorItems .contenedorItems__item {
    border: 1px solid red;
    border-bottom: 5px solid red;
    padding: 5px;
    margin: 20px; }
  .contenedorItems img {
    width: 100%;
    height: auto; }
  .contenedorItems h2 {
    color: black;
    text-align: left;
    letter-spacing: 0; }
  .contenedorItems h3 {
    color: black;
    text-align: left;
    letter-spacing: 0; }
  .contenedorItems input {
    height: 2em;
    width: 8em; }
  .contenedorItems .contenedorItems__item__boton {
    border-radius: 10px;
    height: 2em;
    width: 8em;
    background-color: black;
    color: red;
    border: 1px solid red; }

@media (min-width: 768px) and (max-width: 1024px) {
  .contenedorItems {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 5px; }
    .contenedorItems .contenedorItems__item {
      border: 1px solid red;
      border-bottom: 5px solid red;
      padding: 5px;
      margin: 20px; }
    .contenedorItems img {
      width: 100%;
      height: auto; }
    .contenedorItems h2 {
      color: black;
      text-align: left;
      letter-spacing: 0; }
    .contenedorItems h3 {
      color: black;
      text-align: left;
      letter-spacing: 0; }
    .contenedorItems input {
      height: 2em;
      width: 8em; }
    .contenedorItems .contenedorItems__item__boton {
      border-radius: 10px;
      height: 2em;
      width: 8em;
      background-color: black;
      color: red;
      border: 1px solid red; } }

@media (min-width: 1025px) {
  .contenedorItems {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px; }
    .contenedorItems .contenedorItems__item {
      border: 1px solid red;
      border-bottom: 5px solid red;
      padding: 5px;
      margin: 20px; }
    .contenedorItems img {
      width: 100%;
      height: auto; }
    .contenedorItems h2 {
      color: black;
      text-align: left;
      letter-spacing: 0; }
    .contenedorItems h3 {
      color: black;
      text-align: left;
      letter-spacing: 0; }
    .contenedorItems input {
      height: 2em;
      width: 8em; }
    .contenedorItems .contenedorItems__item__boton {
      border-radius: 10px;
      height: 2em;
      width: 8em;
      background-color: black;
      color: red;
      border: 1px solid red; } }

@keyframes animacionLogo {
  50% {
    transform: rotateY(180deg); }
  80% {
    transform: rotateX(0deg); }
  100% {
    transform: rotateX(360deg); } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
