/* MENU PRINCIPAL */

*{text-decoration: none;}

ul{
    margin-bottom: 0;
    padding-left: 0;
    a{text-decoration: none;}
li{
    font-family: $fuenteMenu;
    background-color: black;
    color: white;
    text-decoration: none;
    transition: padding 0.5s;
    padding: 10px 0 10px 0; 
    text-align: center ;
    &:hover {
        background-color: white;
        color: black;
        padding: 5px 0 5px 0;
    }
    
}}

@media (min-width:720px){
    ul {
        font-size: 0;
        padding: 0;
        li {
            position: relative;
            display: inline-block;
            background-color: black;
            width: 20%;
            padding: 10px 0 10px 0;
            text-align: center;
            color: white;
            font-size: 1rem;
            font-family: $fuenteMenu;
            transition: padding 0.5s;
            
            &:hover {
                background-color: white;
                color: black;
                padding: 5px 0 5px 0;
            }
            &:hover ul {
                display: block;
            }
        }
    }
}

