/* SECCION DE SERVICIOS */

.servicios {
    height: 60vh;
    margin: auto;
    display: flex;
    flex-direction: row;
    div{width: 100%;}
}

section {
    h2 {
        background-image: $backgroudTitulo;
        color: white;
        padding: 15px 0 15px 0;
        text-align: center;
    }
}

.menuServicios {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: flex-start;
}

.itemServicio {
    &:hover{cursor: pointer;}
    h3 {
       @extend .tituloServicio
               
    }
    img {
        width: 210px;
        height: 121px;
        
    }
}

.servicioSeleccionado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../images/logoFondo.png);
    p{font-size: larger;
    font-weight: bold;}
    
}



.tituloServicio {
    padding: 0.5rem 0 0.5rem 1rem;
    border: dotted;
    border-color: yellow;
    background: black;
    color: white;
}


/* ESTILOS BOLETIN */

.boletin {
    display: flex;
    flex-direction: row;
    width: 100vw;
    div {
        width: 50%;
        img {
            width: 300px;
        }
    }
}