//  TITULOS
h1,
h2,
h3,
h4 {
  font-family: $fuenteTitulo;
  letter-spacing: normal;
  color: $colorLetraTitulo;
  text-align: $alinecionTextoTitulo;
}

@media (min-width: 720px) {
  h1,
  h2,
  h3,
  h4 {
    font-family: $fuenteTitulo;
    letter-spacing: $espacioLetraTitulo;
    color: $colorLetraTitulo;
    text-align: $alinecionTextoTitulo;
  }
}
