$widthbody: 100%;
$backgroudTitulo: linear-gradient(red, black);
$fuenteTitulo:'Kanit',
sans-serif;
$espacioLetraTitulo:0.5rem;
$colorLetraTitulo:white;
$alinecionTextoTitulo:center;
$fuenteMenu:'Titillium Web',
sans-serif;