@import "_variables";
@import "_encabezado";
@import "_menu";
@import "_animaciones";
@import "_titulos";
@import "_footer";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* FORMULARIO Y UBICACION */

.contenedorPpal {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 1fr 2fr 2fr;
  grid-template-areas:
    "imagen" " texto"
    "formulario"
    "mapa";
    border-top: solid red 2px;
    align-items: center;
    justify-content: center;
}

.contenedorPpal_imagen {
  grid-area: imagen;
  width: 100%;
}

.contenedorPpal_texto {
  grid-area: texto;
  h2{
     color: black; 
     letter-spacing: normal;
     text-align: start;
     
}
}

.contenido_formulario {
  grid-area: formulario;
  padding: 10px;
  h3{
    background-image: $backgroudTitulo;
    font-size: small;
    letter-spacing: normal;
  }
  label{
    font-family: $fuenteMenu;
  }
}

.contenido_mapa {
  grid-area: mapa;
}

/* FORMULARIO */

fieldset {
  padding: 1rem;
  margin-left: 1rem;
}

form * {
  display: block;
  margin-top: 5px;
}

textarea {
  width: 100%;
}

.contenido__formulario__input--wh {
  height: 3em;
}

.contenido__formulario__input--boder {
  border-radius: 2px;
  border: solid red 1px;
  padding: 1px 2px 1px 5px;
}

.contenido__formulario__boton {
  border: solid red 1px;
  border-radius: 1em;
  display: inline;
  color: white;
}

.contenido__formulario__boton--bg {
  background-color: rgb(48, 45, 45);
}

.contenido__formulario__boton--pm {
  padding: 5px 10px 5px 10px;
  margin: 3px;
}



@media (min-width:720px){
  .contenedorPpal {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 80%;
    margin: auto;
    grid-template-areas:
      "imagen imagen texto texto texto" "formulario formulario mapa mapa mapa"
      "formulario formulario mapa mapa mapa"
      "formulario formulario mapa mapa mapa";
      border-top: solid red 2px;
      align-items: center;
      justify-content: center;
  }
}