@import "_variables";
@import "_encabezado";
@import "_menu";
@import "_footer";
@import "_titulos";
@import "_itemsTienda";

// RESET

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

